html {
    scroll-behavior: smooth;
    animation: backInUp;
    animation-duration: 1s;
}
.head{
    display: flex;
    background-color:#BEAFC2;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    opacity: 70%;
    animation: backInUp;
    animation-duration: 3s;
}

.authors{
    flex: 20%;
    animation: backInUp;
    animation-duration: 3s;
}

.content{
    flex: 80%;
    animation: backInUp;
    animation-duration: 3s;
}
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
    animation: backInUp;
    animation-duration: 3s;
}

.navigate a{
    color: #BEAFC2;
    animation: backInUp;
    animation-duration: 3s;
}

.navigate a:hover{
    color:#BEAFC2;
    font-weight: bolder;
    animation: backInUp;
    animation-duration: 3s;
}
.body{
    display: flex;
    background-color:#BEAFC2;
    padding: 10px;
    margin-top: 5px;
    opacity: 80%;
    animation: backInUp;
    animation-duration: 3s;
}

.body .authors .username{
    font-size: 20px;
    animation: backInUp;
    animation-duration: 3s;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
    animation: backInUp;
    animation-duration: 3s;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
    animation: backInUp;
    animation-duration: 3s;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
    opacity: 70%;
    animation: backInUp;
    animation-duration: 3s;
    
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
    animation: backInUp;
    animation-duration: 3s;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    animation: backInUp;
    animation-duration: 3s;
}

.comment-area input:hover{
    border: solid 1px #BEAFC2;
    animation: backInUp;
    animation-duration: 3s;
}

body{
    background-image: url('purple.gif');
    background-size: cover;
     height: 100vh;
    padding:0;
    margin:0;
}
.navbar{
    display: flex;
    padding-top: 9px;
    animation: backInUp;
    animation-duration: 3s;
}

.navbars:hover {
    font-size: 16px;
    transition: 0.7s;
    animation: backInUp;
    animation-duration: 3s;
}


.search-box select{
    padding: 10px;
    background-color:#BEAFC2;
    animation: backInUp;
    animation-duration: 3s;
}

.search-box input{
    padding: 10px;
    background-color:#BEAFC2;
    animation: backInUp;
    animation-duration: 3s;
}

.search-box button{
    padding: 10px;
    background-color:#BEAFC2;
    color:#000000;
    animation: backInUp;
    animation-duration: 3s;
}

header{
    margin-inline: 10px;
    animation: backInUp;
    animation-duration: 3s;
}

.navbar{
    display: flex;
    padding-top: 9px;
    animation: slideInLeft;
    animation-duration: 3s;
    
}

.navbars:hover {
    font-size: 16px;
    transition: 0.7s;
    animation: slideInLeft;
    animation-duration: 3s;
}


.search-box select{
    padding: 10px;
    animation: backInUp;
    animation-duration: 3s;
}

.search-box input{
    padding: 10px;
    animation: backInUp;
    animation-duration: 3s;
}

header{
    margin-inline: 10px;
    animation: backInUp;
    animation-duration: 3s;
}

.navbar{
    display:flex;
    align-items: center;
    animation: backInUp;
    animation-duration: 3s;
}
.navigation{
    background-color:#BEAFC2;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
    opacity: 65%;
    animation: slideInLeft;
    animation-duration: 3s;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
    animation: backInUp;
    animation-duration: 3s;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
    animation: slideInLeft;
    animation-duration: 3s;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#8155BA;
    animation: backInUp;
    animation-duration: 3s;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
    animation: backInUp;
    animation-duration: 3s;
}

.hide{
    display: none;
    animation: backInUp;
    animation-duration: 3s;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #BEAFC2;
    cursor: pointer;
    animation: backInUp;
    animation-duration: 3s;
}


.postimg{
    flex:20%;
    width: 500px;
    opacity:100%;
    animation: backInUp;
    animation-duration: 3s;
}

.V{
    width:25px;
    animation: backInUp;
    animation-duration: 3s;
}


.replyblock{
    display: flex;
    background-color: #8155BA;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    opacity: 70%;
    animation: backInUp;
    animation-duration: 3s;
}