*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('gif\ kota2.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.logoutama {
    padding-right: 10px;
    color: blue;
}

.profilelogo {
    color: aqua;
    margin: 5px;
}

.row{
    border: 20 px solid green;
    padding-block:0rem;   
    /* width: 700px; */
    /* top : 50%;
    left : 50%;
    transform: translate(-50%,-50%); */
    margin-left: 50px;
    margin-block: 100px;
    margin-right: 50px;
}

.trailer{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.my-element {
    animation: backInDown;
    animation-duration: 2s;
}

.my-element2 {
    animation: flipInY;
    animation-duration: 1.2s;
}

.form-control{
    animation: fadeIn; 
    animation-duration: 4s;
}

#my-element {
    animation: lightSpeedInRight;
    animation-duration: 3s; 
}


.col{
    background-color:rgb(2, 200, 255, 0.80);
    border: none;
    font-weight: bold;

}

a{
    font-family: 'Common Pixel', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:  1px 1px 5px rgb(170, 7, 240);
}

.nav{
    display: flex;
    padding-top: 9px;
    justify-content: space-evenly;
}

.form-inline{
    padding-left: 200px;
}

.my-2{
    font-family: 'Common Pixel', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.text{
    color: blueviolet;
    padding-left: 43px;
    padding-top: 5px;
}

@media screen and (max-width: 768px){
    .nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    .profilelogo {
        display: none;
    }

    div .navbars {
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
    div .navbars .search {
        display: none;
    }
}

.search {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(24, 164, 223);
    transition: 0.8s;
}

.search.active {
    width: 220px;
    transition: 0.8s;
}

.search .icon {
    width: 35px;
    height: 35px;
    border-color: rgb(33, 33, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    border: 2px solid rgb(33, 33, 151);
    width: 14px;
    height: 14px;
    border-radius: 50px;
    transform: translate(-2px, -2px) rotate(315deg);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 9px;
    background: rgb(33, 33, 151);
    border-radius: 50px;
    transform: translate(5px, 5px) rotate(315deg);
}

.navbars:hover {
    font-size: 16px;
    transition: 0.7s;
}

.carousel-item {
    max-height: 90vh;
}

video {
    object-fit: cover;
    width: 100%;
    max-height: 90vh;
}
  
/* The Modal (background) */
.modalnew {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */  
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;

}

.modal-content{
    background-color: transparent;
}

.pointer{
    cursor: pointer;
}