
a{
    color:#523A28;
    font-weight: bolder;
    text-decoration: none;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#B98853;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#E4D4C8;
    opacity:75%;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

body{
    background-image: url('brownbg.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

h1{
    color:#D0B49F
}

#instagram{
    color:#523A28;
}
